* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: white;
    padding: 20px;
}

header > h1 {
    text-align: center;
    color: black;

}


body{
    width: 100%;
    margin: 0 auto;
    background-color: rgba(16, 20, 61, 0.89);
}

img {
    max-width: 100%;
}

.score-board {
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    width: 200px;
    padding: 15px 20px;
    text-align: center;
    color: white;
    font-size: 46px;
    position: relative;
}

.badge {
    background:blue;
    color: white;
    font-size: 20px;
    padding: 2px 1px;
}

#user-label {
    position: absolute;
    top: 30px;
    left: -25px;
}

#comp-label {
    position: absolute;
    top: 30px;
    right: -30px;
}

.result {
    font-size: 40px;
    color: white;
}

.result > p {
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

.choices {
    margin: 50px 0;
    text-align: center;
}

.choice {
    border: 4px solid white;
    border-radius: 50%;
    margin: 0 20px;
    padding: 15px;
    display: inline-block;
    transition: all 0.3s ease;
}

.choice:hover {
    cursor: pointer;
    background: white;
}

a {
    text-overflow: clip;
}

#action-request {
    margin-top: 30px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.green-glow {
    border: 4px solid lightgreen;
    box-shadow: 0 0 10px darkgreen;
}

.red-glow {
    border: 4px solid lightcoral;
    box-shadow: 0 0 10px darkred;
}

.grey-glow {
    border: 4px solid lightgrey;
    box-shadow: 0 0 10px darkslategrey;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 300px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    border-radius: 5%;
}

  /* Modal Content */
.modal-content {
    position: relative;
    background-color: #151425;
    margin: auto;
    padding: 0;
    border: 1px solid rgb(0, 0, 0);
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.modal-header {
    text-align: center;
    padding: 15px;
    background-color: #353577;
    color: rgb(24, 25, 37);
}

.modal-body {
    text-align:center;
    padding: 40px;
}

.modal-body button {
    padding: 10px;
    border: 2px solid black;
    border-radius: 10%;
}
